@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: currentColor;
}

.link {
    cursor: pointer;
}

.list {
    // list-style-type: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: -0.28px;
    margin: 0;
}

.section{
    width: 100%;
    margin: auto;
}

.container {
    max-width: 480px;
    // max-width: 766px;
    margin: 0 auto;
    padding: 0px;
    transition: max-width 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(min-width: 768px) {
        max-width: 1157px;
    }

    @media screen and(min-width: 1158px) {
        max-width: 1280px;  
    }
}
// @media screen and (min-width: 768px){
//     .container {
//         max-width: 768px;
//         padding: 0 32px;
//     }
// }

// @media screen and (min-width: 1200px) {
//     .container {
//         max-width: 1280px;
//     }
// }

