header {
    background: url(../images/header-bg-d.png), lightgray 0px 0.655px / 100% 292.273% no-repeat;background-position: center;
    background-size: cover;
    padding: 20px;
}

.nav-list{
  display: flex;
  float: right;
}


.header-list{
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  gap: 39px;

}

.film-nav{
  display: flex;

  @media screen and(min-width: 768px) {

  }
}

.film-logo{

  padding-top: 5px;
  padding-right: 10px;
}


.logo-name{
  color: #fff;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: none;

  @media screen and(min-width: 768px){
    display: inline;
  }

}