<div class="container-fluid">
      <div class="container custom-container">
        <main id="content" class="row">
          <!--        Main content goes here-->
        </main>
      </div>
      <footer id="footer" class="row">
        <!--        Footer elements here-->
      </footer>
    </div>
    <section id="top-header" class="row header-bg mb-4 no-display">
      <!-- id="top-header" class="row header-bg mb-4" -->
    </section>

    <!-- Modal -->
    <div class="modal fade" id="movie-details-modal">
      <div class="modal-dialog modal-lg" id="movie-details-content"></div>
    </div>